<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buybye">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/buybyeicon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/buybyeicon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.UserProfileDisplayActivity"></activity>
        <activity android:name=".activities.ChatRoomActivity" />
        <activity android:name=".activities.ExploreSingleCategoryItemsActivity" />
        <activity android:name=".activities.AllCategoriesDisplayActivity" />
        <activity android:name=".activities.ItemDetailDisplayActivity" />
        <activity android:name=".activities.UserSoldOutItemsDisplayActivity" />
        <activity android:name=".activities.UserSellingItemsDisplayActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.PostsDisplayActivity" />
        <activity android:name=".activities.NotifyPostSuccessActivity" />
        <activity android:name=".activities.LoginContainerActivity" />
        <activity
            android:name=".activities.AddSingleItemActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activities.NewSalePostActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.HomePageActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activities.FrontPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>